<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Lecture 07 &mdash; Data Engineering &mdash; Spring 2015</title>

		<meta name="description" content="Lecture 07 for Ken Anderson's Spring 2015 Seminar on Data Engineering">
		<meta name="author" content="Ken Anderson">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h2>AngularJS</h2>
					<h4>Lecture 07 &mdash; Data Engineering &mdash; Spring 2015</h4>
          <p>February 3, 2015</p>
				</section>

				<section>
					<h2><a href="https://angularjs.org/">AngularJS</a></h2>
					<ul>
						<li>AngularJS is a client-side web application framework written in Javascript for use in most web browsers</li>
						<li>It provides an implementation of model-view-controller in the Web browser to make it easier to produce modular web clients</li>
						<li>These client-side apps are designed to live on top of JSON-based RESTful web services.</li>
					</ul>
				</section>

        <section>
          <h2>AngularJS is not<br>for the faint of heart</h2>
          <ul>
            <li>Once we move beyond simple examples, it gets complicated (fast)</li>
            <li>However, it is VERY powerful
              <ul>
                <li>You just have to learn its core concepts and idioms.</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Core Concepts (1)</h2>
          <ul>
            <li>Data Bindings
              <ul>
                <li>The value of an HTML tag can be associated with a model object. When one changes, Angular updates the other automatically.</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Core Concepts (2)</h2>
          <ul>
            <li>Controllers
              <ul>
                <li>Controllers are associated with a portion of your HTML and define all of the state and methods that can be accessed within that section of the page.</li>
                <li>With controllers, you can <em>modularize</em> your web app and decompose data and functionality into small, manageable chunks.</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Core Concepts (3)</h2>
          <ul>
            <li>Services
              <ul>
                <li>Controllers are used to manage data for some portion of a page <em>while it is being displayed</em>. As you move from page to page, controllers will come into and go out of existence all the time.</li>
                <li>If you need to maintain state between invocations of a controller or if you need to share state between two different controllers, you can create a service.</li>
                <li>Services are created when an Angular app is initialized
                  <ul>
                    <li>They will remain in place for the entire life of the application.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>


        <section>
          <h2>Core Concepts (4)</h2>
          <ul>
            <li>Directives
              <ul>
                <li>Directives are ubiquitous in Angular; their primary use is to allow Angular to integrate into HTML in a natural way</li>
                <li>But, they can also be used to create reusable components that combine controllers, data, and HTML
                  <ul>
                    <li>You can create a <em>login form</em> component, for instance, that can be re-used across multiple projects.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Core Concepts (5)</h2>
          <ul>
            <li>Embeddable
              <ul>
                <li>Angular can control as much or as little of a web page as you specify</li>
                <li>It is easy to embed a small Angular component into an existing page and then incrementally add new functionality over time</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Core Concepts (6)</h2>
          <ul>
            <li>Injectable
              <ul>
                <li>Angular makes use of a concept called dependency injection</li>
                <li>Rather than use a <em>main routine</em> to wire everything together, Angular controllers and services declare their dependencies up front.</li>
                <li>It is then up to the Angular run-time system to locate those dependencies at run-time and <em>inject</em> them into the component that needs them.</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Modules (1)</h2>
          <ul>
            <li>A module is the primary way to package up a set of controllers into an Angular application</li>
            <li>To create a module, give it a name and list its dependencies</li>
          </ul>
          <pre><code data-trim contenteditable>
angular.module('contactsApp', [])
          </code></pre>
          <ul>
            <li>This creates a module called <em>contactsApp</em>; this module has no dependencies.</li>
          </ul>
        </section>

        <section>
          <h2>Modules (2)</h2>
          <ul>
            <li>Once you have created a module, you can gain a handle to it by calling angular.module with no dependencies</li>
          </ul>
          <pre><code data-trim contenteditable>
angular.module('contactsApp')
          </code></pre>
          <ul>
            <li>This simply returns the previously created module, so you can add to it.</li>
          </ul>
        </section>

        <section>
          <h2>Modules (3)</h2>
          <ul>
            <li>Once you have a module defined in Javascript, you can tell Angular where it <em>lives</em> in the html with the <code>ng-app</code> directive.
              <ul>
                <li>In new files, that can be the <code>html</code> tag itself</li>
                <li>In existing files, you might choose to narrow its scope and put the directive on a <code>div</code> tag</li>
              </ul>
            </li>
          </ul>
          <pre><code data-trim contenteditable>
&lt;html ng-app="contactsApp"&gt;
&lt;/html&gt;
          </code></pre>
        </section>

        <section>
          <h2>Controllers (1)</h2>
          <ul>
            <li>To actually do something in Angular, you need a controller</li>
            <li>Controllers are declared using the <code>controller</code> function of an Angular module.</li>
          </ul>
          <pre><code data-trim contenteditable>
angular.module('contactsApp')
  .controller('MainController', [&lt;dependencies and code&gt;])
          </code></pre>
          <ul>
            <li>The second parameter is an array that allows the controller to declare its dependencies.</li>
          </ul>
        </section>

        <section>
          <h2>Controllers (2)</h2>
          <ul>
            <li>A simple controller may have no dependencies</li>
          </ul>
          <pre><code data-trim contenteditable>
&lt;MODULE&gt;.controller('MainController', [function() {
  var self    = this;
  self.name   = "Ken Anderson";
  self.update = function() {
    self.name = "Kenneth M. Anderson";
  };
}]);
          </code></pre>
          <ul>
            <li>Here we create a controller that manages one piece of state (self.name) and provides access to one method</li>
            <li>Anything defined on <em>this</em> is available to the HTML that makes use of the controller.</li>
          </ul>
        </section>

        <section>
          <h2>Controllers (3)</h2>
          <ul>
            <li>More complex controllers will declare dependencies</li>
          </ul>
          <pre><code data-trim contenteditable>
&lt;MODULE&gt;.controller('MainController', ['$http', function($http) {
  var self    = this;
  self.name   = "Ken Anderson";
  self.update = function() {
    return $http.get('/api/1.0/update_name').then(function(response) {
      self.name = response.data.new_name;
      return response;
    });
  };
}]);
          </code></pre>
          <ul>
            <li>Here we create a controller that requires the use of Angular's built-in HTTP module.</li>
            <li>The array is expected to have a set of strings and one function at the end. The function takes one parameter per dependency; each parameter will have the same name as the dependency.</li>
          </ul>
        </section>

        <section>
          <h2>AngularJS: Hello World</h2>
          <pre><code data-trim contenteditable>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello World&lt;/title&gt;
  &lt;/head&gt;
  &lt;body ng-app&gt;
    &lt;h1&gt;Hello {{name}}&lt;/h1&gt;
    &lt;input type="text" ng-model="name" placeholder="First Name"&gt;
    &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>
          <p>Basic HTML5 document structure</p>
          <p>Directives: ng-app on the body tag; ng-model on input tag</p>
          <p>Script tag at the bottom loads Angular via Google's CDN</p>
        </section>

        <section>
          <h2>What does it do?</h2>
          <ul>
            <li>The input tag declares that a model object exists called <strong>name</strong></li>
            <li>The heading used Angular's built-in syntax to reference the values of models
              <ul>
                <li>{{<strong>name</strong>}} pulls in the current value of name and inserts it into the HTML as if it had been placed there originally</li>
              </ul>
            </li>
            <li>This is an example of a one-way data binding</li>
            <li>Any changes to the input field get communicated to all references automatically.</li>
          </ul>
        </section>

        <section>
          <h2>First Controller</h2>
          <pre><code data-trim contenteditable>
&lt;!DOCTYPE html&gt;
&lt;html ng-app="hello"&gt;
  &lt;head&gt;
    &lt;title&gt;Hello Controller&lt;/title&gt;
  &lt;/head&gt;
  &lt;body ng-controller="HelloController as c"&gt;
    &lt;p&gt;The message is: &lt;input size="30" type="text" ng-model="c.message"&gt;&lt;/p&gt;
    &lt;p&gt;The message is: {{c.message}}&lt;/p&gt;
    &lt;p&gt;&lt;button ng-click="c.changeMessage()"&gt;Change Message&lt;/button&gt;&lt;/p&gt;
    &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"&gt;&lt;/script&gt;
    &lt;script&gt;
      angular.module('hello', []).controller('HelloController', [
        function() {
          var self = this;
          self.message = "Hello from the Controller";
          self.changeMessage = function() {
            self.message = "Goodbye from the Controller";
          }
        }
      ]);
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
          </code></pre>
        </section>

        <section>
          <h2>Explanation (1)</h2>
          <ul>
            <li>First, declare that Angular controls the entire document</li>
          </ul>
          <pre><code data-trim contenteditable>
&lt;html ng-app="hello"&gt;
          </code></pre>
          <ul>
            <li>Second, load Angular via the CDN</li>
          </ul>
        </section>

        <section>
          <h2>Explanation (2)</h2>
          <ul>
            <li>Third, indicate what portion of the document is controlled by our controller</li>
          </ul>
          <pre><code data-trim contenteditable>
  &lt;body ng-controller="HelloController as c"&gt;
          </code></pre>
          <ul>
            <li>This syntax says <blockquote>refer to an instance of the <strong>HelloController</strong> via the variable <strong>c</strong></blockquote></li>
          </ul>
        </section>

        <section>
          <h2>Explanation (3)</h2>
          <ul>
            <li>Fourth, bind elements of the HTML to the controller</li>
          </ul>
          <pre><code data-trim contenteditable>
&lt;p&gt;The message is: &lt;input size="30" type="text" ng-model="c.message"&gt;&lt;/p&gt;
&lt;p&gt;The message is: {{c.message}}&lt;/p&gt;
&lt;p&gt;&lt;button ng-click="c.changeMessage()"&gt;Change Message&lt;/button&gt;&lt;/p&gt;
          </code></pre>
          <ul>
            <li>The input field is bound to the <strong>message</strong> variable.</li>
            <li>The paragraph includes the value of the same variable</li>
            <li>The button binds its click event to a method.</li>
            <li>The binding is <q>two-way</q>. Changes propagate.</li>
          </ul>
        </section>

        <section>
          <h2>Explanation (4)</h2>
          <ul>
            <li>Fifth, create the controller</li>
          </ul>
          <pre><code data-trim contenteditable>
angular.module('hello', []).controller('HelloController', [
  function() {
    var self = this;
    self.message = "Hello from the Controller";
    self.changeMessage = function() {
      self.message = "Goodbye from the Controller";
    }
  }
]);
          </code></pre>
          <ul>
            <li>Here we create the controller in-line; we could also do this in a separate file and include that file with a script tag</li>
          </ul>
        </section>

        <section>
          <h2>Explanation (5)</h2>
          <p>Why did we do this?</p>
          <pre><code data-trim contenteditable>
var self = this;
          </code></pre>
          <ul>
            <li>Closures!</li>
            <li>Note that we reference self.message in the function <strong>changeMessage()</strong>.</li>
            <li>If we had said <code>this.message</code> in <strong>changeMessage()</strong>, there is a chance that <strong>this</strong> no longer refers to the controller.</li>
            <li>So we store the pointer to the controller in self and a closure captures that value when the <strong>changeMessage()</strong> function is created.</li>
          </ul>
        </section>

        <section>
          <h2>Directives, Directives, Directives!</h2>
          <ul>
            <li><strong>ng-show</strong>: display an HTML element if a condition is true</li>
            <li><strong>ng-hide</strong>: hide an HTML element if a condition is true</li>
            <li><strong>ng-repeat</strong>: iterate over a collection, filling out an HTML template for each item</li>
            <li>Let's see one last example.
              <ul>
                <li>Note: example too large to fit on slide.</li>
                <li>I'll make the example code available on GitHub</li>
              </ul>
            </li>
          </ul>
        </section>

        <section>
          <h2>Where to Learn More?</h2>
          <p><a href="http://www.amazon.com/AngularJS-Running-Enhanced-Productivity-Structured/dp/1491901942/">AngularJS Up &amp; Running</a></p>
          <p>Terrific introduction to AngularJS!</p>
        </section>

        <section>
          <h2>End of Part 1</h2>
          <ul>
            <li>Up Next?
              <ul>
                <li>An Angular client working with web services</li>
                <li>My goal is not to teach you Angular, but to show the interaction between web apps and web services</li>
              </ul>
            </li>
          </ul>
        </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
